#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig LV_USE_GPU_MANAGER
	bool "GPU Manager"
	default n

if LV_USE_GPU_MANAGER

source "$APPSDIR/graphics/lvgl/lv_porting/gpu_manager/vg_lite/Kconfig"

config LV_GPU_USE_ARM_MVE
	bool "ARM MVE Draw Context"
	depends on ARM_HAVE_MVE && LV_COLOR_DEPTH = 32
	default y

config LV_GPU_MANAGER_USE_LOG
	bool "Log Output"
	default y

config LV_GPU_MANAGER_USE_PERF
	bool "Performance Measurement"
	default n

endif # LV_USE_GPU_MANAGER
