#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig GRAPHICS_LVGL
	bool "Light and Versatile Graphic Library (LVGL)"
	default n
	---help---
		Enable support for the LVGL GUI library.

if GRAPHICS_LVGL

config LVGL_VERSION
	string "LVGL Version"
	default "9.1.0"

osource "$APPSDIR/graphics/lvgl/lvgl/Kconfig"
osource "$APPSDIR/graphics/lvgl/ext/Kconfig"

config LV_DRAW_VG_LITE_INCLUDE
	string "VG-Lite API header include path"
	depends on LV_USE_DRAW_VG_LITE
	default ""

config LV_GPU_G2D_INCLUDE_PATH
	string "include path of G2D header"
	depends on LV_USE_DRAW_G2D
	default ""

config LV_OPTLEVEL
	string "Customize compilation optimization level"
	default ""

endif # GRAPHICS_LVGL
