#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_ATOMIC
	tristate "\"Test atomic\" example"
	default n
	---help---
		Enable the \"Test atomic!\" example

if EXAMPLES_ATOMIC

config EXAMPLES_ATOMIC_PROGNAME
	string "Program name"
	default "atomic"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is atomic.

config EXAMPLES_ATOMIC_PRIORITY
	int "Atomic task priority"
	default 100

config EXAMPLES_ATOMIC_STACKSIZE
	int "Atomic stack size"
	default DEFAULT_TASK_STACKSIZE

endif
