#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config TESTING_SCHEDTEST
	tristate "Sched test"
	default n
	---help---
		Enable the Sched test

		For all tests to be successful, you need to enable
		CONFIG_SCHEDTEST in addition.

if TESTING_SCHEDTEST

config TESTING_SCHEDTEST_PROGNAME
	string "schedtest"
	default "schedtest"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is installed.

config TESTING_SCHEDTEST_PRIORITY
	int "Scanftest task priority"
	default 100

config TESTING_SCHEDTEST_STACKSIZE
	int "Schedtest stack size"
	default DEFAULT_TASK_STACKSIZE

endif
