#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig LV_DEMOS
	bool "Enable LVGL Native Demos Entry"
	default n
	---help---
		Enable LVGL Native Demos Entry

if LV_DEMOS
config LV_DEMOS_PRIORITY
	int "LVGL demos entry task priority"
	default 100

config LV_DEMOS_STACKSIZE
	int "LVGL demos entry stack size"
	default DEFAULT_TASK_STACKSIZE
endif
